.header-container {
  display: flex;
  justify-content: space-around;
}

/* .header-container {
  align-items: stretch;
  justify-content: space-between;
  background-color: #ea9ab2;
  display: flex;
  height: 8vh;
  margin-bottom: 5%;
  padding-left: 5px;
  width: 100vw;
}

h2 {
  display: flex;
  margin-right: 20%;
}

button {
  background-color: transparent;
  border: none;
}

img {
  height: 7vh;
} */
