.header-container {
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  margin-bottom: 5%;
  padding-left: 5px;
  background-color: #ea9ab2;
}

h2 {
  display: flex;
  justify-items: center;
}