.header-container {
  display: flex;
  background-color: #ea9ab2;
}

.page-title {
  margin-left: 40%;
}

@media (max-width: 400px) {
  .page-title {
    margin-left: 25%;
  }
}

.img-profile {
  margin-top: 17%;
  margin-left: 30%;
}
