.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.btns {
  background-color: #EFCFE3;
  border-radius: 6px;
  box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.45);
  flex: 1;
  height: 100px;
  justify-content: space-between;
  margin: 5px;
  width: 170px;
  font-size: 20px;
  display: table-cell;
  vertical-align: middle
}