body {
  background-color: #EAF2D7
}

.buttons-container {
  align-content: space-around;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.buttons-container > button {
  align-items: center;
  margin-top: 50px;
  padding: 20px;
}

.receitas-feitas {
  background-color: #E27396;
  border: 3px solid black;
  color: black;
}

.receitas-feitas:hover {
  background-color: #EA9AB2;
  border: black;
}

.receitas-favoritas {
  background-color: #B3DEE2;
  border: 3px solid black;
  color: black;
}

.receitas-favoritas:hover {
  background-color: #7fdbe4;;;
  border: black;
}

.sair {
  background-color: #EFCFE3;
  border: 3px solid black;
  color: black;
}

.sair:hover {
  background-color: #e4a3cb;
  border: black;
}

.email {
  background-color: #EFCFE3;
  border: 3px solid black;;
  text-align: center;
}